<footer class="d-flex" style="background: #0000001a;">
    <a href="#" class="m-auto" style="font-size: 0.8rem; color: black;" id="footer">
        Copyright © CTA. Todos los derechos reservados
    </a>
</footer>
<script>
    document.getElementById("footer").onclick = function (e) {
        alert("Todos los derechos de este sitio web están reservados por el Centro de Ciencia y Tecnología de Antioquia. La reproducción, distribución o transmisión de todo, o parte de este sitio web, será considerada como un infracción a los Derechos de Propiedad Intelectual y/o Industrial.")
    }
</script>
